@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import "../shared/styles/animations.css";

:root {
	--notification-primary-color: #0f476166;
	--notification-secondary-color: black;
	--notification-contrast-color: white;

	--notification-background-color: var(--notification-primary-color);
	--notification-font-family: "Roboto-Condensed", sans-serif;
	--notification-font-color: var(--notification-contrast-color);
}

body {
	margin: 0px;
	background-color: rgb(22, 35, 45);
	bottom: 0;
}
.notification {
	margin: 15px;
	font-family: var(--notification-font-family);
	width: 100%;
	max-width: 420px;
	min-width: 200px;
	color: var(--notification-font-color);
	background-color: var(--notification-background-color);
	display: grid;
	grid-auto-rows: auto;
	padding: 10px;
	font-size: 13px;
	box-shadow: 3px 3px 2px 0px #00000030;
}
.notification hr {
	width: 100%;
}
.detail-area {
	--fr-test: 1fr;
	display: grid;
	grid-template-columns: 20px var(--fr-test) auto 5px;
	grid-column-gap: 20px;
	justify-items: flex-start;
	margin-bottom: 10px;
}
.detail-area img {
	height: 16px;
	padding-top: 1px;
}
.detail-area_time {
	font-size: 12px;
}
.detail-area_type {
	font-weight: 60;
}
.content-area {
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: auto 1fr;
	justify-items: start;
	margin-bottom: 10px;
	padding-top: 3px;
	align-items: center;
}
.content-area img {
	height: 40px;
	border-radius: 10px;
}
.notification hr {
	border-color: #f5f5f512;
}
.action-area {
	display: flex;
	color: var(--notification-font-color);
}
.action-area > button {
	margin-right: 10px;
	background-color: rgba(255, 255, 255, 0);
	border: 0px;
	color: #7ed8d4;
	height: 20px;
	cursor: pointer;
}
.action-area > button:hover {
	animation-duration: 0.6s;
	animation-name: fadeIn;
}

@keyframes fadeIn {
	0% {
		background-color: rgba(126, 126, 19, 0);
	}
	100% {
		background-color: rgb(126, 126, 19);
	}
}
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgb(61, 88, 111);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background-color: rgb(28, 42, 54);
}
