@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

@import "../shared/styles/animations.css";

:root {
	--notification-primary-color: #262d38;
	--notification-secondary-color: black;
	--notification-contrast-color: white;

	--notification-background-color: var(--notification-primary-color);
	--notification-font-family: "Roboto-Condensed", sans-serif;
	--notification-font-color: var(--notification-contrast-color);
}

body {
	margin: 0px;
	/* position: absolute; */
	/* bottom: 0; */
	overflow: hidden;
	width: 158px;
	height: 32px;
	background: #22262f;
	border-radius: 13px;
}

.drag-area {
	-webkit-app-region: drag;
}

.drag-box {
	width: 100%;
	height: 20px;
	background: yellow;
}

.divider {
	border-left: 1px solid rgba(0, 0, 0, 0.589);
	height: 80%;
}

.toaster-icons {
	width: 20px;
	height: 20px;
	padding: 5px;
}
