@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

@import "../shared/styles/notification-theme.css";

body {
	margin: 0;
	background-color: rgba(0, 0, 0, 0);
	color: var(--notification-font-color);
}

body .opaque {
	background-color: var(--notification-drawer-background-color);
}

.opaque #notifications-overflow-menu {
	border-radius: 0;
}

#notifications-overflow-menu {
	font-family: var(--notification-font-family);
	box-sizing: border-box;
	margin: 0;
	padding: 5px;
	display: flex;
	overflow: hidden;
	width: 100vw;
	background-color: var(--notification-drawer-background-color);
	border: 1px solid var(--notification-background-color);
	flex-direction: column;
	border-radius: 5px;
}

#notifications-overflow-menu button {
	cursor: pointer;
	color: var(--notification-font-color);
	background-color: var(--notification-contrast-color);
	border: none;
	height: 24px;
	margin-bottom: 8px;
	border-radius: 5px;
}

#notifications-overflow-menu button:focus {
	outline: none;
}

.inline-checkbox {
	margin: 0 5px;
	display: inline-flex;
}

.checkbox {
	width: 8px;
	height: 8px;
	display: inline-flex;
	align-content: center;
	border-radius: 50%;
	padding: 2px;
	border: 1px solid #abc5aa;
	cursor: pointer;
	margin-right: 5px;
}

.checkbox-background {
	background-color: rgb(91, 96, 111);
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.checkbox.active > .checkbox-background,
.checkbox:hover > .checkbox-background {
	background-color: var(--notification-contrast-color);
}

.close-icon {
	height: 18px;
	margin-top: -2px;
	cursor: pointer;
}

.close-icon:hover {
	fill: var(--notification-contrast-color);
}

.mute-option {
	font-size: 12px;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}
.mute-option input {
	visibility: hidden;
	position: absolute;
	margin: -200px;
	border: none;
}

hr {
	width: 90%;
	border: 1px solid #9fa5b3;
}

.notification-overflow-menu-header {
	height: 25px;
	width: 100%;
	position: relative;
}
.notification-overflow-menu-header > .close {
	display: inline-block;
	cursor: pointer;
	width: 100%;
	position: absolute;
	text-align: right;
}

.settings-icons,
.settings-icons--active {
	cursor: pointer;
	float: right;
}

.settings-icons--active > path {
	opacity: 1;
}

.notification-settings .icon.toaster-icons--active > path {
	fill: var(--notification-primary-color);
}
.mute-container,
.mute-container--active {
	clear: both;
}

.mute-container {
	clear: both;
	display: none;
}

.mute-container--active {
	display: flex;
	flex-direction: column;
}

.mute-container label {
	display: block;
}
