<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Welcome to Finsemble!</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="nofity.css" rel="stylesheet" type="text/css">
    <script src="notify.js"></script>
</head>
<body>
<div id="container">
    <div id="bounds"></div>
    <div class="spacer1"></div>
    <div class="spacer2"></div>
    <h1>Send notifications!</h1>
    <div class="spacer3"></div>
    <button class="button" id="send-notification">Send Notification</button>
    <div class="spacer4"></div>
</div>
</body>
</html>
