@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import "../shared/styles/animations.css";
@import "../shared/styles/notification-theme.css";

.opaque body {
	background-color: var(--notification-drawer-background-color);
}

body {
	margin: 0;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
}
#toasts-drawer {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
}

.opaque .notification {
	margin-right: 8px;
}

.notification {
	margin-left: 0;
	margin-bottom: 6px;
	margin-right: 15px;
	font-family: var(--notification-font-family);
	width: 328px;
	color: var(--notification-font-color);
	background-color: var(--notification-background-color);
	display: grid;
	grid-auto-rows: auto;
	padding: 10px;
	font-size: 13px;
	box-shadow: 3px 3px 2px 0 #00000030;
}
.notification hr {
	width: 100%;
}
.detail-area {
	--fr-test: 1fr;
	display: grid;
	grid-template-columns: 20px var(--fr-test) auto 11px;
	grid-column-gap: 20px;
	justify-items: flex-start;
	margin-bottom: 10px;
}
.detail-area img {
	height: 16px;
	padding-top: 1px;
}
.close-icon {
	height: 18px;
	margin-top: -7px;
	cursor: pointer;
}
.close-icon:hover {
	fill: red;
}
.detail-area_time {
	font-size: 12px;
	min-width: 137px;
	text-align: right;
}
.detail-area_type {
	font-weight: 60;
}
.content-area {
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: auto 1fr;
	justify-items: start;
	margin-bottom: 10px;
	align-items: center;
}
.content-area img {
	height: 40px;
	border-radius: 10px;
}
.action-area {
	display: flex;
	color: var(--notification-font-color);
}
.action-area > button {
	margin-right: 10px;
	background: var(--secondary-button-color-hover);
	border: 1px solid transparent;
	color: var(--notification-font-color);
	height: 20px;
	cursor: pointer;
}
.action-area > button:hover {
	border: 1px solid transparent;
}

.overflow-icon {
	cursor: pointer;
	position: relative;
}

.action-overflow {
	margin-left: auto;
}

.overflow-menu {
	display: none;
}

.overflow-menu > button {
	display: inline-block;
	padding: 3px;
	margin: 3px;
}

.overflow-open .overflow-menu {
	background-color: #0f4761;
	display: block;
	text-align: right;
	right: 0;
	bottom: 20px;
	position: absolute;
	width: 150px;
	border-color: #f5f5f512;
	border-radius: 3px;
}
